.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Initial CSS */
.asideHome {
  background-color: rgb(178, 241, 172);
  grid-area: aside;
}
.asideHome img {
  width: 80%;
  margin-top: 20px;
}
.filterContainer {
  display: flex;
  align-items: center;
  margin: 5px;
  height: 30px;
}
.filterIcon {
  height: 20px;
  /* TODO: poniższe dwie linie są potrzebne do nadpisania styli .aside img */
  margin-top: 0 !important;
  width: 30px !important;
}
.filterInput {
  width: 200px;
}
.home {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "aside nav"
    "aside main";
}
.mainHome {
  background-color: rgb(241, 241, 172);
  grid-area: main;
}
.navIcon {
  background-color: rgb(255, 145, 0);
  margin: 10px 10px;
  padding: 5px 10px;
  font-size: 15px;
}
.navHome {
  background-color: rgb(172, 225, 241);
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
